.logo{
    width: 75px;
}

.thumbnailPhoto{
    margin:  5px;
    max-width: 50px;
}

.photoDiv{
    display: flex;
    align-items: center;
    margin: 10px;
}

.inspection-card{
    margin: 10px;
    padding: 5px;
}

.user-card{
    margin: 10px;
    padding: 5px;
}

.singlephoto{
    align-content: center;
    height:100%;
    padding: 8px;
}

.photocontainer{
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

.img-container{
    margin: 8px;
}

.image-magnify{
    width: 90%;
}