.logo{
    width: 75px;
}

.photo{
    margin:  5px;
    /* max-width: 50px; */
}

.photoDiv{
    display: flex;
    align-items: center;
    margin: 10px;
}

.inspection-card{
    margin: 10px;
    padding: 5px;
}

.user-card{
    margin: 10px;
    padding: 5px;
}